[Desktop Entry]
Version=1.0
Name=opimd messages
Name[de]=Opimd-Nachrichten
Name[fr]=Messages Opimd
Name[es]=Mensajes opimd
Name[gl]=Mensaxes opimd
Name[eo]=Opimd-Mesaĝoj
Name[it]=Messaggi Opimd
Name[sv]=Opimd-Meddelanden
Name[cs]=Zprávy Opimd
TryExec=opimd-messages
StartupNotify=true
Exec=opimd-messages
Terminal=false
Type=Application
Categories=Office;PIM;
Icon=shr-messages
