[Desktop Entry]
Version=1.0
Name=Notes
Name[de]=Notizen
Name[fr]=Notes
Name[es]=Notas
Name[gl]=Notas
TryExec=opimd-notes
StartupNotify=true
Exec=opimd-notes
Terminal=false
Type=Application
Categories=PIM;
Icon=opimd-notes
