[Desktop Entry]
Version=1.0
Name=Dates
Name[de]=Kalender
Name[fr]=Calendrier
Name[es]=Agenda
Name[gl]=Axenda
Name[eo]=Kalendario
Name[it]=Calendario
TryExec=opimd-dates
GenericName=opimd Dates
Comment=python-elementary and fso-opimd based dates app for SHR systems
Comment[de]=Kalender für SHR basierend auf python-elementary und fso-opimd
Comment[es]=Agenda para SHR hecha en python-elementary y fso-opimd
Comment[gl]=Axenda para SHR baseada en fso-opimd e feita con python-elementary
Comment[eo]=Kalendario por SHR, skribita en Python kaj FSO-opimd
Comment[it]=Calendario di SHR scritto in Python e FSO-opimd
StartupNotify=true
Exec=opimd-dates
Terminal=false
Type=Application
Categories=Office;PIM;
Icon=opimd-dates
