[Desktop Entry]
Version=1.0
Name=Dates
Name[de]=Kalender
TryExec=opimd-dates
GenericName=opimd Dates
Comment=python-elementary and fso-opimd based dates app for SHR systems
StartupNotify=true
Exec=opimd-dates
Terminal=false
Type=Application
Categories=Office;PIM;
Icon=opimd-dates
