[Desktop Entry]
Version=1.0
Name=Dates
Name[de]=Kalender
Name[fr]=Calendrier
Name[es]=Agenda
Name[gl]=Axenda
TryExec=opimd-dates
GenericName=opimd Dates
Comment=python-elementary and fso-opimd based dates app for SHR systems
Comment[es]=Agenda para SHR hecha en python-elementary y fso-opimd
Comment[gl]=Axenda para SHR baseada en fso-opimd e feita con python-elementary
StartupNotify=true
Exec=opimd-dates
Terminal=false
Type=Application
Categories=Office;PIM;
Icon=opimd-dates
