[Desktop Entry]
Version=1.0
Name=opimd contacts
TryExec=opimd-contacts
StartupNotify=true
Exec=opimd-contacts
Terminal=false
Type=Application
Categories=Office;PIM;
Icon=shr-contacts
