[Desktop Entry]
Version=1.0
Name=opimd contacts
Name[de]=Opimd-Kontakte
Name[fr]=Contacts Opimd
Name[es]=Contactos opimd
Name[gl]=Contactos opimd
Name[eo]=Opimd-Kontaktoj
Name[it]=Contatti Opimd
Name[sv]=Opimd-Kontakter
Name[cs]=Kontakty Opimd
TryExec=opimd-contacts
StartupNotify=true
Exec=opimd-contacts
Terminal=false
Type=Application
Categories=Office;PIM;
Icon=shr-contacts
